# composer files
vendor/
composer.phar
composer.lock

# phpunit 
phpunit.phar
# local phpunit config
/phpunit.xml
/.phpunit.result.cache

# netbeans project files
nbproject/

# eclipse project files
.settings/
.buildpath
.project

# phpstorm project files
.idea

# local data dirs
/.bak
/.dat
/.tmp
/.var
